# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Gradle & Node caches
.gradle/
.node/

# dependencies
node_modules/

# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Python/ML folders
learn_trad/
learntrad/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Android build artifacts
android/app/build/
android/.gradle/
android/build/

# iOS build artifacts
ios/build/
ios/Pods/
ios/DerivedData/
.vercel
